* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.container{
    width: 100vw;
    height: 100vh;
    background: rgb(218, 255, 251);
}
#heading{
    width: 100vw;
    text-align: center;
    padding: 10px 0;
    font-size: 3rem;
    background-color: rgb(100, 204, 197);
}
.details-container{
    padding: 0;
    margin: 0;
    height: 90vh;
    display: flex;  
    align-items: center; 
    justify-content: center;
}

.order-container, .order-result-container{
    box-sizing: border-box;
    width: 85%;
    height: 60vh;
    background-color: rgba(255, 255, 255, 0.4);
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 2px;
    /* background: url(./images/order-received.png); */
}
.order-heading{
    font-size: 22px;
    margin-bottom: 20px;
    text-align: center;
}
.order-search{
    margin-top: 20px;
}
input{
    border: 2px solid black;
    padding: 15px;
    width: 400px;
    font-size: 18px;
}
#btn{
    border: 2px solid black;
    padding: 15px;
    min-width: fit-content;
    width: 120px;
    font-size: 18px;
    font-weight: 400;
    background: white;
}
.order-result p{
    text-align: center;
    margin: 10px;
    font-size: 28px;
    font-weight: 600;
}
.order-result-container{
    display: none;
}